In [ ]:
!pip install beautifulsoup4
from bs4 import BeautifulSoup as bs

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
!pip install requests
import requests
res = requests.get("https://www.esportsearnings.com/history/2021/teams")

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)

In [ ]:
soup = bs(res.content)

In [ ]:
# prettify is a function that returns a nicely formatted HTML with newlines and indent
# that makes it easier to read
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="">
   var __ez=__ez||{};__ez.stms=Date.now();__ez.evt={};__ez.script={};__ez.ck=__ez.ck||{};__ez.template={};__ez.template.isOrig=false;__ez.queue=(function(){var count=0,incr=0,items=[],timeDelayFired=false,hpItems=[],lpItems=[],allowLoad=true;var obj={func:function(name,funcName,parameters,isBlock,blockedBy,deleteWhenComplete,proceedIfError){var self=this;this.name=name;this.funcName=funcName;this.parameters=parameters===null?null:(parameters instanceof Array)?parameters:[parameters];this.isBlock=isBlock;this.blockedBy=blockedBy;this.deleteWhenComplete=deleteWhenComplete;this.isError=false;this.isComplete=false;this.isInitialized=false;this.proceedIfError=proceedIfError;this.isTimeDelay=false;this.process=function(){log("... func = "+name);self.isInitialized=true;self.isComplete=true;log("... func.apply: "+name);var funcs=self.funcName.split('.');var func=null;if(funcs.length>3){}else if(funcs.length===3){func=window[funcs[0]][funcs[1]][funcs[2]];}else if(funcs.length===2){func=window[funcs[0]][funcs[1]];}else{func=window[self.funcName];}
if(typeof func!=='undefined'&&func!==null){func.apply(null,this.parameters);}
if(self.deleteWhenComplete===true)delete items[name];if(self.isBlock===true){log("----- F'D: "+self.name);processAll();}}},file:function(name,path,isBlock,blockedBy,async,defer,proceedIfError){var self=this;this.name=name;this.path=path;this.async=async;this.defer=defer;this.isBlock=isBlock;this.blockedBy=blockedBy;this.isInitialized=false;this.isError=false;this.isComplete=false;this.proceedIfError=proceedIfError;this.isTimeDelay=false;this.process=function(){self.isInitialized=true;log("... file = "+name);var scr=document.createElement('script');scr.src=path;if(async===true)scr.async=true;else if(defer===true)scr.defer=true;scr.onerror=function(){log("----- ERR'D: "+self.name);self.isError=true;if(self.isBlock===true){processAll();}};scr.onreadystatechange=scr.onload=function(){var state=scr.readyState;log("----- F'D: "+self.name);if((!state||/loaded|complete/.test(state))){self.isComplete=true;if(self.isBlock===true){processAll();}}};document.getElementsByTagName('head')[0].appendChild(scr);}},fileLoaded:function(name,isComplete){this.name=name;this.path="";this.async=false;this.defer=false;this.isBlock=false;this.blockedBy=[];this.isInitialized=true;this.isError=false;this.isComplete=isComplete;this.proceedIfError=false;this.isTimeDelay=false;this.process=function(){};}};function init(){window.addEventListener("load",function(){setTimeout(function(){timeDelayFired=true;log('TDELAY -----');processAll();},5000);},false);}
function addFile(name,path,isBlock,blockedBy,async,defer,proceedIfError,priority){var item=new obj.file(name,path,isBlock,blockedBy,async,defer,proceedIfError);if(priority===true){hpItems[name]=item}else{lpItems[name]=item}
items[name]=item;checkIfBlocked(item);}
function setallowLoad(settobool){allowLoad=settobool}
function addFunc(name,func,parameters,isBlock,blockedBy,autoInc,deleteWhenComplete,proceedIfError,priority){if(autoInc===true)name=name+"_"+incr++;var item=new obj.func(name,func,parameters,isBlock,blockedBy,deleteWhenComplete,proceedIfError);if(priority===true){hpItems[name]=item}else{lpItems[name]=item}
items[name]=item;checkIfBlocked(item);}
function addTimeDelayFile(name,path){var item=new obj.file(name,path,false,[],false,false,true);item.isTimeDelay=true;log(name+' ... '+' FILE! TDELAY');lpItems[name]=item;items[name]=item;checkIfBlocked(item);}
function addTimeDelayFunc(name,func,parameters){var item=new obj.func(name,func,parameters,false,[],true,true);item.isTimeDelay=true;log(name+' ... '+' FUNCTION! TDELAY');lpItems[name]=item;items[name]=item;checkIfBlocked(item);}
function checkIfBlocked(item){if(isBlocked(item)===true||allowLoad==false)return;item.process();}
function isBlocked(item){if(item.isTimeDelay===true&&timeDelayFired===false){log(item.name+" blocked = TIME DELAY!");return true;}
if(item.blockedBy instanceof Array){for(var i=0;i<item.blockedBy.length;i++){var block=item.blockedBy[i];if(items.hasOwnProperty(block)===false){log(item.name+" blocked = "+block);return true;}else if(item.proceedIfError===true&&items[block].isError===true){return false;}else if(items[block].isComplete===false){log(item.name+" blocked = "+block);return true;}}}
return false;}
function markLoaded(filename){if(!filename||0===filename.length){return;}
if(filename in items){var item=items[filename];if(item.isComplete===true){log(item.name+' '+filename+': error loaded duplicate')}else{item.isComplete=true;item.isInitialized=true;}}else{items[filename]=new obj.fileLoaded(filename,true);}
log("markLoaded dummyfile: "+items[filename].name);}
function logWhatsBlocked(){for(var i in items){if(items.hasOwnProperty(i)===false)continue;var item=items[i];isBlocked(item)}}
function log(msg){var href=window.location.href;var reg=new RegExp('[?&]ezq=([^&#]*)','i');var string=reg.exec(href);var res=string?string[1]:null;if(res==="1")console.debug(msg);}
function processAll(){count++;if(count>200)return;log("let's go");processItems(hpItems);processItems(lpItems);}
function processItems(list){for(var i in list){if(list.hasOwnProperty(i)===false)continue;var item=list[i];if(item.isComplete===true||isBlocked(item)||item.isInitialized===true||item.isError===true){if(item.isError===true){log(item.name+': error')}else if(item.isComplete===true){log(item.name+': complete already')}else if(item.isInitialized===true){log(item.name+': initialized already')}}else{item.process();}}}
init();return{addFile:addFile,addDelayFile:addTimeDelayFile,addFunc:addFunc,addDelayFunc:addTimeDelayFunc,items:items,processAll:processAll,setallowLoad:setallowLoad,markLoaded:markLoaded,logWhatsBlocked:logWhatsBlocked,};})();__ez.evt.add=function(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent?e.attachEvent("on"+t,n):e["on"+t]=n()},__ez.evt.remove=function(e,t,n){e.removeEventListener?e.removeEventListener(t,n,!1):e.detachEvent?e.detachEvent("on"+t,n):delete e["on"+t]};__ez.script.add=function(e){var t=document.createElement("script");t.src=e,t.async=!0,t.type="text/javascript",document.getElementsByTagName("head")[0].appendChild(t)};__ez.dot={};
  </script>
  <script>
   var __sellerid="9d73bda8345e2a22b2ea828db5a8aa12";
  </script>
  <link as="script" href="//securepubads.g.doubleclick.net/tag/js/gpt.js" rel="preload"/>
  <link href="//ad.doubleclick.net" rel="dns-prefetch"/>
  <link href="//pagead2.googlesyndication.com" rel="dns-prefetch"/>
  <link href="//googleads.g.doubleclick.net" rel="dns-prefetch"/>
  <link href="//tpc.googlesyndication.com" rel="dns-prefetch"/>
  <link href="//adservice.google.com" rel="dns-prefetch"/>
  <link href="//secureads.g.doubleclick.net" rel="dns-prefetch"/>
  <link href="//www.googletagservices.com" rel="dns-prefetch"/>
  <link as="script" href="//go.ezodn.com/hb/dall.js?b=gumgum,ix,oftmedia,onetag,pubmatic,sharethrough,spotx,unruly&amp;cb=195-0-26" rel="preload"/>
  <script async="" src="//c.amazon-adsystem.com/aax2/apstag.js">
  </script>
  <script data-cfasync="false" data-pagespeed-no-defer="" type="text/javascript">
   var __ezaps=[{"slotID":"div-gpt-ad-esportsearnings_com-banner-2-0","slotName":"/1254144/esportsearnings_com-banner-2","sizes":[[300,250]]},{"slotID":"div-gpt-ad-esportsearnings_com-banner-2-0_1","slotName":"/1254144/esportsearnings_com-banner-2","sizes":[[300,250]]},{"slotID":"div-gpt-ad-esportsearnings_com-medrectangle-2-0","slotName":"/1254144/esportsearnings_com-medrectangle-2","sizes":[[728,90]]},{"slotID":"div-gpt-ad-esportsearnings_com-box-1-0","slotName":"/1254144/esportsearnings_com-box-1","sizes":[[300,250]]},{"slotID":"div-gpt-ad-esportsearnings_com-box-2-0","slotName":"/1254144/esportsearnings_com-box-2","sizes":[[728,90]]},{"slotID":"div-gpt-ad-esportsearnings_com-medrectangle-1-0","slotName":"/1254144/esportsearnings_com-medrectangle-1","sizes":[[728,90]]}];var __ezapid="aa05931b-5308-4ea3-95a2-adf84f4ffde4";!function(a9,a){if(a[a9])return;function q(c,r){a[a9]._Q.push([c,r])}
a[a9]={init:function(){q("i",arguments)},fetchBids:function(){q("f",arguments)},setDisplayBids:function(){},targetingKeys:function(){return[]},_Q:[]};}("apstag",window);apstag.init({pubID:__ezapid,adServer:'googletag',schain:{complete:1,ver:'1.0',nodes:[{asi:'ezoic.ai',sid:__sellerid,hp:1}]}});function ezapsFetchBids(amazonSlots){if(typeof amazonSlots==='undefined'||amazonSlots.length===0){return}
apstag.fetchBids({slots:amazonSlots,timeout:2e3},function(bids){function getSlotById(id){if(typeof window.ezslots==='undefined'||window.ezslots==0){return;}
for(var i=0;i<window.ezslots.length;i++){var slot=window[ezslots[i]];if(typeof slot==='undefined'){continue;}
var slotId=slot.getSlotElementId();if(typeof slotId!=='undefined'&&slotId==id){return slot;}}}
function setA9DisplayBids(bids){if(typeof bids==='undefined'||bids.length==0){return;}
var keys=apstag.targetingKeys();for(var i=0;i<bids.length;i++){var bid=bids[i];for(var k=0;k<keys.length;k++){if(keys[k]in bid){ezSetSlotTargeting(bid.slotID,keys[k],bid[keys[k]]);}}}}
googletag.cmd.push(function(){setA9DisplayBids(bids);});});}
if(typeof __tcfapi!="undefined"){}else{ezapsFetchBids(__ezaps);}
  </script>
  <script type="text/javascript">
   var __banger_pmp_deals=function(){var d={17:{"DealId":17,"Floor":160},18:{"DealId":18,"Floor":25},19:{"DealId":19,"Floor":100},20:{"DealId":20,"Floor":300},1428:{"DealId":1428,"Floor":25},7:{"DealId":7,"Floor":150},8:{"DealId":8,"Floor":200},9:{"DealId":9,"Floor":300},10:{"DealId":10,"Floor":400},11:{"DealId":11,"Floor":500},12:{"DealId":12,"Floor":600},13:{"DealId":13,"Floor":700},14:{"DealId":14,"Floor":800},916:{"DealId":916,"Floor":95},915:{"DealId":915,"Floor":150},874:{"DealId":874,"Floor":200},835:{"DealId":835,"Floor":200},15:{"DealId":15,"Floor":1000},21:{"DealId":21,"Floor":2000},16:{"DealId":16,"Floor":1500}};return[{"SlotName":"/1254144/esportsearnings_com-medrectangle-1","Deals":[d[17],d[18],d[19],d[20],d[1428],d[7],d[8],d[9],d[10],d[11],d[12],d[13],d[14],d[916],d[915],d[874],d[835]]},{"SlotName":"/1254144/esportsearnings_com-medrectangle-2","Deals":[d[17],d[18],d[19],d[20],d[1428],d[7],d[8],d[9],d[10],d[11],d[12],d[13],d[14],d[15],d[916],d[915],d[874],d[835]]},{"SlotName":"/1254144/esportsearnings_com-box-1","Deals":[d[17],d[18],d[19],d[20],d[1428],d[7],d[8],d[9],d[10],d[11],d[12],d[13],d[14],d[15],d[916],d[915],d[874],d[835]]},{"SlotName":"/1254144/esportsearnings_com-banner-2","Deals":[d[17],d[18],d[19],d[20],d[21],d[1428],d[7],d[8],d[9],d[10],d[11],d[12],d[13],d[14],d[15],d[16],d[916],d[915],d[874],d[835]]},{"SlotName":"/1254144/esportsearnings_com-box-2","Deals":[d[17],d[18],d[19],d[20],d[1428],d[7],d[8],d[9],d[10],d[11],d[12],d[13],d[916],d[915],d[874],d[835]]},{"SlotName":"/1254144/esportsearnings_com-banner-2","Deals":[d[17],d[18],d[19],d[20],d[21],d[1428],d[7],d[8],d[9],d[10],d[11],d[12],d[13],d[14],d[15],d[16],d[916],d[915],d[874],d[835]]}]}();
  </script>
  <script type="text/javascript">
   _ebcids=[138231308856,138231308940,138231308949,138231387842,138231421744,138231421759,138231421774,138231421783,138231421789,138231421792,138242067587,138242067590,138242067602,138242067605,138242067608,138242067614,138242229406,138242229415,138242229421,138242229430];
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   ezobv=39;
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   function ez_isclean(data){if(typeof data==='undefined'){data=document.URL;}
var re=/(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))(@|%2540|%40)((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/;var isClean=!re.test(data);return isClean;}
var ezSlotKVStore={};function ezSetSlotTargeting(divid,key,value){var slot=ezGetSlotById(divid);if(slot){slot.setTargeting(key,value);}else{if(typeof ezSlotKVStore[divid]=='undefined'){ezSlotKVStore[divid]={};}
ezSlotKVStore[divid][key]=value;}}
function ezGetSlotById(id){if(typeof window.ezslots==='undefined'||window.ezslots==0){return;}
for(var i=0;i<window.ezslots.length;i++){var slot=window[ezslots[i]];if(typeof slot==='undefined'){continue;}
var slotId=slot.getSlotElementId();if(typeof slotId!=='undefined'&&slotId==id){return slot;}}}
var ez_queue=new Array();function sort_queue(a,b)
{if(a.priority<b.priority)return-1;else if(a.priority==b.priority)return 0;else return 1;}
function execute_ez_queue()
{ez_queue.sort(sort_queue);for(var i in ez_queue)
{if(typeof ez_queue[i].method!="undefined")
{try{ez_queue[i].method.call(null);}
catch(err){}}}}
window.ez_ad_units=new Array();window.ezslots=new Array();window.ezsrqt={};function ez_write_tag(d){if(ez_isclean()&&d instanceof Array){if(typeof ezstandalone!=='undefined'&&typeof ezstandalone.selectedPlaceholders!=='undefined'&&ezstandalone.selectedPlaceholders[d[3]]===true){return "1+1";}
ez_ad_units[ez_ad_units.length]=d;var dve="";if(typeof d[5]!='undefined'&&d[5]>0){dve='_'+d[5];}
var ezcmd="googletag.cmd.push(function() {var divid = 'div-gpt-ad-"+d[1]+"-"+d[4]+""+dve+"';if(typeof ezlrarn == 'function'){ezlrarn(divid);}googletag.display(divid);var to = 0;if("+d[2]+".getTargeting('ga')[0] == '0'){to = 500;}if((window.ezDisableInitialLoad==true || googletag.pubads().isInitialLoadDisabled()) && window.ezoll != true){setTimeout(function(){googletag.pubads().refresh(["+d[2]+"])},to);}});";return ezcmd;}
return "1+1";}
function in_array(needle,haystack){var length=haystack.length;for(var i=0;i<length;i++){if(haystack[i]==needle)return true;}
return false;}
var ezrpos=new Array();var ez_current_interval;var ez_current_load=0;function __ez_fad_load(n,r){if(__ez_fad_csnt()&&__ez_fad_rdy()&&ezslit_run[n]!=true&&typeof __ez_fad_divs[n]!='undefined'&&__ez_fad_divs[n].length>0){ezslit_run[n]=true;__ez_fad_gpt();if(n>0&&n!=5){__ez_fad_pb();}
googletag.cmd.push(function(){var s=[];for(var i=0;i<__ez_fad_divs[n].length;i++){if(__ez_fad_divsd.indexOf(__ez_fad_divs[n][i])==-1){__ez_fad_divsd.push(__ez_fad_divs[n][i]);s.push(__ez_fad_initslot[__ez_fad_divs[n][i]](r));googletag.display(__ez_fad_divs[n][i]);}};var ws=[];for(i3=0;i3<s.length;i3++){ws.push(window[s[i3]]);}
googletag.pubads().refresh(ws);setTimeout(__ez_fad_floatshow,0);});if(n==0){if(document.readyState==="complete"||document.readyState==="loaded"){googletag.cmd.push(function(){__ez_fad_load(5,null);});setTimeout(googletag.cmd.push(function(){__ez_fad_floatshow()}),500);setTimeout(function(){__ez_fad_load(1,null);__ez_fad_load(5,null);},5500);return;}
document.addEventListener('DOMContentLoaded',function(evt){googletag.cmd.push(function(){__ez_fad_load(5,null);});setTimeout(googletag.cmd.push(function(){__ez_fad_floatshow()}),500);setTimeout(function(){__ez_fad_load(1,null);__ez_fad_load(5,null);},5500);},false);}}}
var __ez_fad_floatshowd=false;function __ez_fad_floatshow(d){if(__ez_fad_floatshowd==false&&typeof __ez_fad_floating!='undefined'){__ez_fad_floatshowd=true;var e=document.getElementById('ezmobfooter');if(e!=null){e.classList.add('ezmobtrans');}else{head=document.head||document.getElementsByTagName('head')[0],style=document.createElement('style');head.appendChild(style);var css="body > #ezmobfooter{bottom:0px !important;visibility:visible;}";style.type='text/css';if(style.styleSheet){style.styleSheet.cssText=css;}else{style.appendChild(document.createTextNode(css));}}
googletag.cmd.push(function(){for(var i=0;i<__ez_fad_floating.length;i++){var s=__ez_fad_initslot[__ez_fad_floating[i]](null);googletag.display(__ez_fad_floating[i]);googletag.pubads().refresh([window[s]]);}});}}
var __ez_fad_initslot={};var __ez_fad_fastd=[];var __ez_fad_fastdiv=[];var __ez_fad_fastslots=[];var __ez_fad_viewslots=[];var __ez_fad_instaslots=[];var ezslit_run=[];var __ez_fad_divs=[[],[],[],[],[],[],[]];__ez_fad_divpos={};var __ez_fad_divsd=[];var __ez_fad_vw=window.screen.width;var __ez_fad_vh=window.screen.height;function __ez_fad_invisible(e){!!(e.offsetWidth||e.offsetHeight||e.getClientRects().length)}
function __ez_fad_position(id){var did=document.getElementById(id);if(did!=null){var rect=did.getBoundingClientRect();var vs=window.scrollY||document.body.scrollTop||document.documentElement.scrollTop;var vh=vs+__ez_fad_vh;_ez_fad_vw=window.innerWidth||document.documentElement.clientWidth||document.body.clientWidth;__ez_fad_vh=window.innerHeight||Math.max(document.documentElement.clientHeight,document.body.clientHeight);var height_adjust=800;if(__ez_fad_vw<1200){height_adjust=__ez_fad_vh*1.25;vh+=0;}
if(__ez_fad_floating.indexOf(id)==-1){__ez_fad_divpos[id]=rect.top;if(__ez_fad_invisible(did)&&isFloat!=true){__ez_fad_divs[4].push(id);}else if(rect.top<vh&&(ezslit_run[0]!=true||ezslit_run[5]!=true)){if(ezslit_run[0]!=true){__ez_fad_gpt();__ez_fad_divs[0].push(id);}else{__ez_fad_divs[5].push(id);}}else if(rect.top<(vh+height_adjust)&&ezslit_run[1]!=true){if(ezslit_run[0]!=true){__ez_fad_load(0,0);};__ez_fad_divs[1].push(id);}else if(rect.top<(vh+height_adjust+(__ez_fad_vh))&&ezslit_run[2]!=true){if(ezslit_run[0]!=true){__ez_fad_load(0,0);};__ez_fad_divs[2].push(id);}else{__ez_fad_divs[3].push(id);}}}}
function __ez_fad_fast(s,f,m){if(__ez_fad_fastd.indexOf(s)==-1){__ez_fad_fastd.push(s);googletag.cmd.push(function(){var ebbr2='empty';var br2=0;if(typeof ezoibfh[f]!='undefined'){ebbr2=ezoibfh[f];br2=f;}
if(typeof window['ezslot_'+s]!='undefined'){var br1=parseInt(window['ezslot_'+s].getTargeting('br1')[0]);if(isNaN(br1)||br2<br1){window['ezslot_'+s].setTargeting('br1',br2).setTargeting('eb_br',ebbr2);if(m!=null){window['ezslot_'+s].setTargeting('bvr',m)}}else{}}else{}});}}
function __ez_fad_csnt(){return document.cookie.indexOf('ezCMPCookieConsent')!==-1||typeof __ez_conestreq=='undefined';}
var __ez_fad_haspo=false;if(typeof PerformanceObserver!='undefined'&&typeof PerformanceObserver.supportedEntryTypes!='undefined'){if(PerformanceObserver.supportedEntryTypes.indexOf('largest-contentful-paint')>-1){__ez_fad_haspo=true;}}
function __ez_fad_rdy(){if(document.body!==null&&(__ez_fad_haspo==false&&__ez_fad_doc_ht>__ez_fad_vp_ht||__ez_fad_hascp)||document.readyState==="complete"){return true;}else{__ez_fad_doc_ht=__ez_fad_docht();__ez_fad_vp_ht=__ez_fad_vpht();}
return false;}
function __ez_fad_docht(){if(typeof document.body!='undefined'&&document.body!=null){return Math.max(document.body.scrollHeight,document.body.offsetHeight);}else if(typeof document.documentElement!='undefined'){return Math.max(document.documentElement.clientHeight,document.documentElement.scrollHeight,document.documentElement.offsetHeight);}else{return 0;}}
function __ez_fad_vpht(){if(typeof window.innerHeight!='undefined'){return window.innerHeight;}else if(typeof document.body!='undefined'&&document.body!=null){return document.body.clientHeight;}else if(typeof document.documentElement!='undefined'){return document.documentElement.clientHeight;}
else{return 0;}}
var __ez_fad_doc_ht=__ez_fad_docht();var __ez_fad_vp_ht=__ez_fad_vpht();var __ez_fad_hascp=false;try{const __ez__fad_po=new PerformanceObserver((entryList)=>{__ez_fad_hascp=true;});__ez__fad_po.observe({type:'largest-contentful-paint',buffered:true});}catch(e){}
  </script>
  <script data-ezscrex="false" type="text/javascript">
   var ezorbf = [];
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   window.isEZABL=false;window.ezmadspc=300;window.ezoViewCheck=false;
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   window.ezDisableInitialLoad=false;
  </script>
  <script data-cfasync="false" data-ezscrex="false" data-pagespeed-no-defer="" type="text/javascript">
   window.googletag=window.googletag||{};googletag.cmd=googletag.cmd||[];
  </script>

In [ ]:
data = []
table = soup.find('table', attrs={'class':'detail_list_table'})
table_body = table.find('tbody')

rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [ ]:
data

[['1.', 'Natus Vincere', '$1,663,809.23', '25 Tournaments'],
 ['2.', 'Susquehanna Soniqs', '$1,420,439.00', '16 Tournaments'],
 ['3.', 'Team Liquid', '$1,335,660.21', '80 Tournaments'],
 ['4.', 'Gambit Esports', '$1,241,085.38', '32 Tournaments'],
 ['5.', 'Ninjas in Pyjamas', '$1,211,658.72', '25 Tournaments'],
 ['6.', 'Nova eSports', '$1,143,688.00', '3 Tournaments'],
 ['7.', 'Gen.G Esports', '$1,097,884.43', '9 Tournaments'],
 ['8.', 'Zenith E-Sports', '$1,009,822.00', '1 Tournament'],
 ['9.', 'FaZe Clan', '$814,744.33', '44 Tournaments'],
 ['10.', 'Virtus.pro', '$753,490.17', '19 Tournaments'],
 ['11.', 'Atlanta Faze', '$720,000.00', '4 Tournaments'],
 ['12.', 'Four Angry Men', '$690,924.00', '4 Tournaments'],
 ['13.', 'G2 Esports', '$690,305.86', '34 Tournaments'],
 ['14.', 'LGD Gaming', '$659,021.00', '4 Tournaments'],
 ['15.', 'NRG Esports', '$651,433.37', '59 Tournaments'],
 ['16.', 'EVOS', '$613,334.03', '3 Tournaments'],
 ['17.', 'T1', '$479,312.27', '33 Tournaments'],
 ['18.', 'Team BDS', '$463,359.66', '19 Tournaments'],
 ['19.', 'Multi Circle Gaming', '$455,879.00', '2 Tournaments'],
 ['20.', 'Pittsburgh Knights', '$442,568.06', '13 Tournaments'],
 ['21.', 'Team SoloMid', '$430,251.58', '40 Tournaments'],
 ['22.', 'Team Spirit', '$414,750.00', '16 Tournaments'],
 ['23.', 'Vitality', '$401,136.80', '25 Tournaments'],
 ['24.', 'Astralis', '$396,750.00', '10 Tournaments'],
 ['25.', 'Evil Geniuses', '$393,565.20', '23 Tournaments'],
 ['26.', 'Digital Athletics', '$391,871.00', '1 Tournament'],
 ['27.', 'New York Subliners', '$390,126.64', '40 Tournaments'],
 ['28.', 'Meta Gaming', '$389,359.00', '1 Tournament'],
 ['29.', 'FURIA Esports', '$386,286.55', '28 Tournaments'],
 ['30.', 'Sentinels', '$384,850.00', '12 Tournaments'],
 ['31.', '100 Thieves', '$378,638.29', '73 Tournaments'],
 ['32.', 'Guild Esports', '$377,385.86', '18 Tournaments'],
 ['33.', 'Toronto Ultra', '$370,000.00', '4 Tournaments'],
 ['34.', 'Cloud9', '$369,275.70', '30 Tournaments'],
 ['35.', 'Paris Saint-Germain Esports', '$357,000.00', '8 Tournaments'],
 ['36.', 'DWG KIA', '$348,895.77', '10 Tournaments'],
 ['37.', 'Royal Never Give Up', '$330,312.26', '10 Tournaments'],
 ['38.', 'Dallas Empire', '$330,000.00', '4 Tournaments'],
 ['39.', 'BIG', '$310,388.62', '28 Tournaments'],
 ['40.', 'Heroic', '$303,750.00', '8 Tournaments'],
 ['41.', 'Infantry Clan', '$302,067.00', '1 Tournament'],
 ['42.', 'Invictus Gaming', '$293,949.20', '12 Tournaments'],
 ['43.', 'MIBR', '$283,617.99', '8 Tournaments'],
 ['44.', 'Fnatic', '$282,624.00', '15 Tournaments'],
 ['45.', 'Talon Esports', '$256,751.25', '5 Tournaments'],
 ['46.', 'Spacestation Gaming', '$247,352.56', '44 Tournaments'],
 ['47.', 'Afreeca Freecs', '$236,973.16', '19 Tournaments'],
 ['48.', 'Team Envy', '$219,648.49', '27 Tournaments'],
 ['49.', 'Rogue', '$217,886.12', '12 Tournaments'],
 ['50.', 'Bacon Time', '$216,016.67', '2 Tournaments'],
 ['51.', 'OG', '$213,500.00', '12 Tournaments'],
 ['52.', 'Buriram United Esports', '$211,684.22', '11 Tournaments'],
 ['53.', 'WOLFPACK', '$208,702.00', '15 Tournaments'],
 ['54.', 'Oxygen Esports', '$207,854.64', '22 Tournaments'],
 ['55.', 'Wave Esports', '$201,388.06', '4 Tournaments'],
 ['56.', 'ENCE eSports', '$194,499.00', '15 Tournaments'],
 ['57.', 'Vici Gaming', '$192,406.67', '7 Tournaments'],
 ['58.', 'Become Legends', '$188,800.00', '3 Tournaments'],
 ['59.', 'mousesports', '$174,646.93', '25 Tournaments'],
 ['60.', 'Luminosity Gaming', '$171,368.54', '31 Tournaments'],
 ['61.', 'compLexity Gaming', '$171,150.00', '23 Tournaments'],
 ['62.', 'Top Esports', '$169,732.99', '1 Tournament'],
 ['63.', 'Shoot To Kill', '$163,148.00', '2 Tournaments'],
 ['64.', 'Mkers', '$162,116.24', '4 Tournaments'],
 ['65.', 'XSET', '$156,425.00', '39 Tournaments'],
 ['66.', 'forZe', '$156,101.52', '17 Tournaments'],
 ['67.', 'Crazy Raccoon', '$152,188.70', '18 Tournaments'],
 ['68.', 'Daytrade Gaming', '$151,856.00', '3 Tournaments'],
 ['69.', 'Team Secret', '$151,150.00', '8 Tournaments'],
 ['70.', 'Extra Salt', '$147,750.00', '8 Tournaments'],
 ['71.', 'Solary', '$147,576.76', '38 Tournaments'],
 ['72.', 'VRS Coanda Simsport', '$147,075.00', '5 Tournaments'],
 ['73.', 'Team Empire', '$145,850.00', '6 Tournaments'],
 ['74.', 'FunPlus Phoenix', '$140,931.59', '9 Tournaments'],
 ['75.', 'OpTic Chicago', '$140,000.00', '4 Tournaments'],
 ['76.', 'MAD Lions', '$138,167.85', '7 Tournaments'],
 ['77.', 'SKADE', '$135,232.00', '11 Tournaments'],
 ['78.', 'Elevate', '$134,686.69', '10 Tournaments'],
 ['79.', 'Alliance', '$133,296.45', '14 Tournaments'],
 ['80.', 'Endpoint', '$127,013.99', '19 Tournaments'],
 ['81.', 'Minnesota RØKKR', '$126,154.16', '23 Tournaments'],
 ['82.', 'NUTURN Gaming', '$125,084.60', '4 Tournaments'],
 ['83.', 'Ground Zero Gaming', '$121,100.00', '14 Tournaments'],
 ['84.', 'Dragon Phoenix Gaming', '$120,380.00', '17 Tournaments'],
 ['85.', 'Team Heretics', '$118,621.63', '3 Tournaments'],
 ['86.', 'Ghost Gaming', '$118,050.00', '11 Tournaments'],
 ['87.', 'Vikin.gg', '$116,000.00', '8 Tournaments'],
 ['88.', 'Team Dignitas', '$115,625.00', '21 Tournaments'],
 ['89.', 'Team QLASH', '$114,938.50', '15 Tournaments'],
 ['90.', 'True Neutral', '$110,900.00', '14 Tournaments'],
 ['91.', 'HAVU Gaming', '$110,250.00', '9 Tournaments'],
 ['92.', 'Team One', '$108,000.00', '7 Tournaments'],
 ['93.', 'Renegades', '$106,270.00', '23 Tournaments'],
 ['94.', 'Team GamerLegion', '$104,400.81', '74 Tournaments'],
 ['95.', 'TrainHard eSport', '$104,019.58', '13 Tournaments'],
 ['96.', 'Rogue Warriors', '$102,432.68', '1 Tournament'],
 ['97.', 'TyLoo', '$101,768.90', '6 Tournaments'],
 ['98.', 'Team Queso', '$101,500.00', '9 Tournaments'],
 ['99.', 'Quincy Crew', '$98,000.00', '4 Tournaments'],
 ['100.', 'Version1', '$93,250.00', '13 Tournaments'],
 ['101.', 'paiN Gaming', '$92,318.10', '17 Tournaments'],
 ['102.', 'Sprout', '$91,043.56', '11 Tournaments'],
 ['103.', 'London Royal Ravens', '$90,007.91', '28 Tournaments'],
 ['104.', 'Grizi Esport', '$89,666.18', '18 Tournaments'],
 ['105.', 'Winstrike Team', '$89,125.00', '7 Tournaments'],
 ['106.', 'Nigma', '$89,000.00', '4 Tournaments'],
 ['107.', 'Hellbear Smashers', '$88,400.00', '5 Tournaments'],
 ['108.', 'Triumphant Song Gaming', '$88,330.55', '3 Tournaments'],
 ['109.', 'MCES', '$85,500.00', '3 Tournaments'],
 ['110.', 'Giants Gaming', '$84,454.48', '13 Tournaments'],
 ['111.', 'Built By Gamers', '$83,250.00', '15 Tournaments'],
 ['112.', 'Undying', '$82,500.00', '4 Tournaments'],
 ['113.', '4 Zoomers', '$81,000.00', '4 Tournaments'],
 ['114.', 'Thunder Predator', '$80,000.00', '3 Tournaments'],
 ['115.', 'SINNERS Esports', '$79,571.35', '15 Tournaments'],
 ['116.', 'Team Vikings', '$77,418.30', '8 Tournaments'],
 ['117.', 'Top Blokes', '$77,000.00', '8 Tournaments'],
 ['118.', 'Galaxy Racer', '$76,451.12', '23 Tournaments'],
 ['119.', 'Infinity Esports', '$75,500.00', '7 Tournaments'],
 ['120.', 'Futbolist', '$75,417.43', '10 Tournaments'],
 ['121.', 'sAw', '$75,215.27', '8 Tournaments'],
 ['122.', 'Tricked eSports', '$73,860.30', '9 Tournaments'],
 ['123.', 'Team Aster', '$73,764.80', '4 Tournaments'],
 ['124.', 'Team NV', '$73,123.50', '12 Tournaments'],
 ['125.', 'Vision Strikers', '$72,897.18', '7 Tournaments'],
 ['126.', 'High Coast Esports', '$72,000.00', '11 Tournaments'],
 ['127.', 'Unicorns of Love', '$67,882.32', '9 Tournaments'],
 ['128.', 'beastcoast', '$67,787.54', '12 Tournaments'],
 ['129.', 'BOOM Esports', '$67,250.00', '5 Tournaments'],
 ['130.', 'Petrichor Road', '$66,632.00', '1 Tournament'],
 ['131.', 'TnC Gaming', '$66,500.00', '3 Tournaments'],
 ['132.', 'DarkZero Esports', '$65,750.00', '3 Tournaments'],
 ['133.', 'Tempo Storm', '$65,522.07', '31 Tournaments'],
 ['134.', 'Team Unique', '$65,421.89', '10 Tournaments'],
 ['135.', 'Tianba', '$65,273.00', '2 Tournaments'],
 ['136.', 'Tundra Esports', '$65,250.00', '5 Tournaments'],
 ['137.', 'X10 Esports', '$65,000.00', '3 Tournaments'],
 ['138.', 'Attack All Around', '$63,512.00', '2 Tournaments'],
 ['139.', 'Entropiq', '$63,500.00', '12 Tournaments'],
 ['140.', 'Team SMG', '$63,390.00', '3 Tournaments'],
 ['141.', 'EXTREMUM', '$62,625.00', '7 Tournaments'],
 ['142.', 'CYCLOPS athlete gaming', '$62,500.00', '3 Tournaments'],
 ['143.', 'Acend', '$62,382.12', '2 Tournaments'],
 ['144.', 'AGO Esports', '$62,202.27', '15 Tournaments'],
 ['145.', 'NoPing e-sports', '$61,000.00', '3 Tournaments'],
 ['146.', 'Execration', '$60,500.00', '3 Tournaments'],
 ['147.', 'Los Angeles Thieves', '$60,000.00', '3 Tournaments'],
 ['148.', 'DetonatioN', '$59,973.00', '4 Tournaments'],
 ['149.', 'Neon Esports', '$59,400.00', '3 Tournaments'],
 ['150.', 'Oath Gaming', '$59,072.00', '1 Tournament'],
 ['151.', 'Cowana Gaming', '$58,934.07', '7 Tournaments'],
 ['152.', 'KaiZi Gaming', '$57,604.00', '23 Tournaments'],
 ['153.', 'Infamous', '$57,000.00', '3 Tournaments'],
 ['154.', 'O2 Blast', '$55,000.00', '1 Tournament'],
 ['155.', 'HellRaisers', '$54,125.00', '8 Tournaments'],
 ['156.', 'Triumph', '$54,000.00', '13 Tournaments'],
 ['157.', 'NASR eSports', '$53,850.00', '6 Tournaments'],
 ['158.', 'Hanwha Life Esports', '$53,710.54', '2 Tournaments'],
 ['159.', 'Nordavind', '$53,603.12', '20 Tournaments'],
 ['160.', 'Global Esports Xsset', '$53,547.00', '2 Tournaments'],
 ['161.', 'DivisionX Gaming', '$53,242.85', '2 Tournaments'],
 ['162.', 'K7 Esports', '$53,024.00', '1 Tournament'],
 ['163.', 'SG e-sports', '$53,000.00', '3 Tournaments'],
 ['164.', 'Divine Esports', '$50,000.00', '1 Tournament'],
 ['165.', 'ENTER FORCE.36', '$50,000.00', '1 Tournament'],
 ['166.', 'Ovation eSports', '$50,000.00', '2 Tournaments'],
 ['167.', 'Karmine Corp', '$48,682.98', '5 Tournaments'],
 ['168.', 'Florida Mutineers', '$48,650.00', '9 Tournaments'],
 ['169.', 'EHOME', '$48,000.00', '2 Tournaments'],
 ['170.', 'Cringe Society', '$47,560.00', '14 Tournaments'],
 ['171.', 'FURY', '$46,000.00', '2 Tournaments'],
 ['172.', 'Schalke 04 Esports', '$45,069.17', '4 Tournaments'],
 ['173.', 'Golden Guardians', '$45,020.42', '4 Tournaments'],
 ['174.', 'Dire Wolves', '$43,696.51', '18 Tournaments'],
 ['175.', 'Team Singularity', '$43,616.07', '20 Tournaments'],
 ['176.', 'Sharks Esports', '$43,593.24', '9 Tournaments'],
 ['177.', 'Los Angeles Guerrillas', '$43,000.00', '6 Tournaments'],
 ['178.', 'REJECT', '$41,852.26', '8 Tournaments'],
 ['179.', 'Copenhagen Flames', '$41,625.00', '9 Tournaments'],
 ['180.', '9z Team', '$41,010.67', '5 Tournaments'],
 ['181.', 'SK Gaming', '$40,912.10', '6 Tournaments'],
 ['182.', 'BBL Esports', '$40,693.14', '6 Tournaments'],
 ['183.', 'Enterprise Gaming', '$40,200.00', '2 Tournaments'],
 ['184.', 'Radiance', '$40,000.00', '1 Tournament'],
 ['185.', 'GODSENT', '$39,000.00', '8 Tournaments'],
 ['186.', 'CrowCrowd', '$38,570.41', '7 Tournaments'],
 ['187.', 'Movistar Riders', '$38,343.30', '11 Tournaments'],
 ['188.', 'Spectrum ESC', '$38,000.00', '1 Tournament'],
 ['189.', 'Kansas City Pioneers', '$37,750.00', '8 Tournaments'],
 ['190.', 'Panda Global', '$37,276.24', '36 Tournaments'],
 ['191.', 'World Elite', '$36,172.22', '1 Tournament'],
 ['192.', 'White Wolf Palace', '$35,599.00', '35 Tournaments'],
 ['193.', 'Wildcard Gaming', '$35,500.00', '3 Tournaments'],
 ['194.', 'ONE Team', '$35,000.00', '2 Tournaments'],
 ['195.', 'Gamma Gaming', '$34,000.00', '1 Tournament'],
 ['196.', 'UYU', '$33,606.14', '8 Tournaments'],
 ['197.', 'Counter Logic Gaming', '$33,413.38', '6 Tournaments'],
 ['198.', 'Rams', '$32,500.00', '5 Tournaments'],
 ['199.', 'Red Bull eSports', '$31,509.78', '5 Tournaments'],
 ['200.', 'Bigetron eSports', '$31,500.00', '2 Tournaments'],
 ['201.', 'Shopify Rebellion', '$31,214.00', '11 Tournaments'],
 ['202.', 'Immortals', '$30,500.00', '5 Tournaments'],
 ['203.', 'k23', '$30,125.00', '7 Tournaments'],
 ['204.', 'exceL eSports', '$30,050.75', '1 Tournament'],
 ['205.', 'One Breath Gaming', '$27,559.63', '5 Tournaments'],
 ['206.', 'Team CC', '$27,500.00', '1 Tournament'],
 ['207.', 'Manchester City eSports', '$27,497.20', '1 Tournament'],
 ['208.', 'Misfits', '$27,411.04', '2 Tournaments'],
 ['209.', 'Nemiga Gaming', '$26,375.00', '7 Tournaments'],
 ['210.', 'ArkAngel', '$25,515.70', '4 Tournaments'],
 ['211.', 'Imperial Esports', '$25,375.85', '5 Tournaments'],
 ['212.', 'MnM Gaming', '$25,200.25', '12 Tournaments'],
 ['213.', 'KRÜ Esports', '$25,000.00', '1 Tournament'],
 ['214.', 'EDward Gaming', '$24,114.82', '1 Tournament'],
 ['215.', 'Cosa Nostra Games', '$24,075.00', '4 Tournaments'],
 ['216.', 'CDEC Gaming', '$24,000.00', '2 Tournaments'],
 ['217.', 'RBG Esports', '$24,000.00', '10 Tournaments'],
 ['218.', 'Illuminar Gaming', '$23,629.21', '4 Tournaments'],
 ['219.', 'Eleven Gaming', '$23,500.00', '2 Tournaments'],
 ['220.', 'Genuine Gaming', '$23,500.00', '2 Tournaments'],
 ['221.', 'The Peeps', '$23,500.00', '4 Tournaments'],
 ['222.', 'Valencia CF eSports', '$23,335.28', '1 Tournament'],
 ['223.', 'EXO Clan', '$22,314.00', '3 Tournaments'],
 ['224.', 'American National Team', '$22,000.00', '1 Tournament'],
 ['225.', 'French National Team', '$22,000.00', '1 Tournament'],
 ['226.', 'Charlotte Phoenix', '$21,790.00', '7 Tournaments'],
 ['227.', 'Apex Racing Team', '$21,500.00', '1 Tournament'],
 ['228.', 'GamersOrigin', '$20,949.05', '9 Tournaments'],
 ['229.', 'White Demons', '$20,500.00', '6 Tournaments'],
 ['230.', 'DfuseTeam', '$20,445.75', '2 Tournaments'],
 ['231.', 'Disrupt Gaming', '$20,156.90', '2 Tournaments'],
 ['232.', 'Gamelanders', '$20,131.20', '4 Tournaments'],
 ['233.', 'FATE Esports', '$20,112.96', '3 Tournaments'],
 ['234.', 'Riddle', '$20,070.00', '9 Tournaments'],
 ['235.', 'Seattle Surge', '$20,000.00', '2 Tournaments'],
 ['236.', 'ALTERNATE aTTaX', '$19,938.14', '4 Tournaments'],
 ['237.', 'Noble eSports', '$19,525.00', '10 Tournaments'],
 ['238.', 'Good Game Gaming', '$19,513.00', '8 Tournaments'],
 ['239.', 'Trelleborg Team', '$19,397.33', '5 Tournaments'],
 ['240.', 'Indonesian National Team', '$19,000.00', '1 Tournament'],
 ['241.', 'Singaporian National Team', '$19,000.00', '1 Tournament'],
 ['242.', 'Paradox Gaming', '$18,524.71', '7 Tournaments'],
 ['243.', 'Nongshim RedForce', '$18,421.08', '1 Tournament'],
 ['244.', 'Team LDLC.com', '$18,405.61', '7 Tournaments'],
 ['245.', 'Tribe Gaming', '$18,000.00', '4 Tournaments'],
 ['246.', 'Rix.GG', '$17,822.75', '8 Tournaments'],
 ['247.', 'Furious Gaming', '$17,764.54', '4 Tournaments'],
 ['248.', 'Myztro Gaming', '$17,750.00', '1 Tournament'],
 ['249.', 'Aftermath', '$17,704.50', '25 Tournaments'],
 ['250.', 'Australian National Team', '$17,500.00', '1 Tournament'],
 ['251.', 'Japanese National Team', '$17,500.00', '1 Tournament'],
 ['252.', 'Sharper Esport', '$17,500.00', '2 Tournaments'],
 ['253.', 'Sangal Esports', '$17,155.40', '7 Tournaments'],
 ['254.', 'ORDER', '$17,013.92', '5 Tournaments'],
 ['255.', 'HONORIS', '$16,982.97', '9 Tournaments'],
 ['256.', 'Alter Ego', '$16,800.00', '1 Tournament'],
 ['257.', 'Flash Wolves', '$16,750.00', '9 Tournaments'],
 ['258.', 'GameWith', '$16,650.00', '5 Tournaments'],
 ['259.', 'LowLandLions', '$16,549.25', '5 Tournaments'],
 ['260.', 'Cascade', '$16,365.50', '9 Tournaments'],
 ['261.', 'Suomi', '$16,235.00', '24 Tournaments'],
 ['262.', 'CERBERUS Esports', '$16,000.00', '2 Tournaments'],
 ['263.', 'k1ck eSports Club', '$15,824.13', '5 Tournaments'],
 ['264.', 'Rare Esports', '$15,715.76', '3 Tournaments'],
 ['265.', 'GMT Esports', '$15,698.08', '3 Tournaments'],
 ['266.', 'IziDream', '$15,677.66', '11 Tournaments'],
 ['267.', 'World Game Star (WGS)', '$15,608.75', '5 Tournaments'],
 ['268.', 'Team Redline', '$15,597.50', '5 Tournaments'],
 ['269.', 'Ballista Esports', '$15,445.75', '2 Tournaments'],
 ['270.', 'Falcons Esports', '$15,339.38', '3 Tournaments'],
 ['271.', 'Canadian National Team', '$15,000.00', '1 Tournament'],
 ['272.', 'Dutch National Team', '$15,000.00', '1 Tournament'],
 ['273.', 'TNL Esports', '$14,935.89', '5 Tournaments'],
 ['274.', 'Raise Your Edge Gaming', '$14,845.75', '9 Tournaments'],
 ['275.', 'Party Astronauts', '$14,500.00', '2 Tournaments'],
 ['276.', 'Atlantide Wave', '$14,204.32', '7 Tournaments'],
 ['277.', 'Chiefs Esports Club', '$14,176.36', '4 Tournaments'],
 ['278.', 'Nexus Gaming', '$14,000.00', '3 Tournaments'],
 ['279.', 'Absolute', '$13,753.15', '2 Tournaments'],
 ['280.', 'Burning-Gamers.de', '$13,702.95', '4 Tournaments'],
 ['281.', 'Alpine Esports', '$13,250.00', '6 Tournaments'],
 ['282.', 'Cyber Skull Esports', '$13,249.88', '3 Tournaments'],
 ['283.', 'mYinsanity', '$13,216.79', '14 Tournaments'],
 ['284.', 'British National Team', '$12,788.93', '2 Tournaments'],
 ['285.', 'Ting', '$12,725.00', '5 Tournaments'],
 ['286.', 'Spider Pigzs', '$12,500.00', '3 Tournaments'],
 ['287.', 'PSISTORM Gaming', '$12,079.50', '6 Tournaments'],
 ['288.', 'SalzZ', '$12,018.00', '32 Tournaments'],
 ['289.', 'Andbox', '$12,000.00', '5 Tournaments'],
 ['290.', 'Brazilian National Team', '$12,000.00', '1 Tournament'],
 ['291.', 'RunAway', '$11,750.00', '1 Tournament'],
 ['292.', 'ATK', '$11,570.53', '6 Tournaments'],
 ['293.', 'Vietnam Legends', '$11,543.05', '22 Tournaments'],
 ['294.', '1907 Fenerbahçe Esports', '$11,500.00', '6 Tournaments'],
 ['295.', 'FC Barcelona', '$11,500.00', '7 Tournaments'],
 ['296.', 'Prince', '$11,402.39', '3 Tournaments'],
 ['297.', 'SLICK', '$11,382.95', '6 Tournaments'],
 ['298.', 'Cooler Esport', '$11,210.00', '7 Tournaments'],
 ['299.', 'PACT', '$10,842.48', '4 Tournaments'],
 ['300.', 'OtherSide Esports', '$10,795.82', '3 Tournaments'],
 ['301.', 'Exeed Esports', '$10,750.00', '2 Tournaments'],
 ['302.', 'Third Impact', '$10,750.00', '5 Tournaments'],
 ['303.', 'German National Team', '$10,593.25', '2 Tournaments'],
 ['304.', 'eClub Brugge', '$10,455.63', '4 Tournaments'],
 ['305.', 'DuSt Gaming', '$10,364.74', '2 Tournaments'],
 ['306.', 'Mindfreak', '$10,245.00', '7 Tournaments'],
 ['307.', 'Team Valtra', '$10,227.35', '3 Tournaments'],
 ['308.', 'Bren Esports', '$10,081.10', '6 Tournaments'],
 ['309.', 'Havan Liberty', '$10,047.66', '5 Tournaments'],
 ['310.', 'Aerowolf', '$10,000.00', '1 Tournament'],
 ['311.', 'İstanbul Wildcats', '$10,000.00', '2 Tournaments'],
 ['312.', 'Mexican National Team', '$10,000.00', '1 Tournament'],
 ['313.', 'Norweigan National Team', '$10,000.00', '1 Tournament'],
 ['314.', 'Rex Regum Qeon', '$10,000.00', '1 Tournament'],
 ['315.', 'Sunflower Gaming', '$10,000.00', '1 Tournament'],
 ['316.', 'Heresy', '$9,975.00', '26 Tournaments'],
 ['317.', 'Rebirth Esports', '$9,500.00', '2 Tournaments'],
 ['318.', 'Hippomaniacs', '$9,384.50', '2 Tournaments'],
 ['319.', 'KT Rolster', '$9,210.54', '1 Tournament'],
 ['320.', '303 Esports', '$8,930.00', '6 Tournaments'],
 ['321.', 'Malay National Team', '$8,500.00', '1 Tournament'],
 ['322.', 'New Zealand National Team', '$8,500.00', '1 Tournament'],
 ['323.', 'King of Gamers Club', '$8,334.03', '1 Tournament'],
 ['324.', 'Optimal Ambition', '$8,112.50', '3 Tournaments'],
 ['325.', 'Sandrock Gaming', '$8,009.06', '6 Tournaments'],
 ['326.', 'Team Hörmann', '$7,951.10', '5 Tournaments'],
 ['327.', 'AS Monaco Esports', '$7,916.35', '1 Tournament'],
 ['328.', 'eUnited', '$7,500.00', '4 Tournaments'],
 ['329.', 'SANDBOX Gaming', '$7,368.43', '1 Tournament'],
 ['330.', 'Wolves Esports', '$7,250.00', '3 Tournaments'],
 ['331.', 'KRONE eSports', '$7,235.79', '4 Tournaments'],
 ['332.', 'Paper Rex', '$7,000.00', '2 Tournaments'],
 ['333.', 'Team BM', '$7,000.00', '1 Tournament'],
 ['334.', 'Team Diamond', '$7,000.00', '1 Tournament'],
 ['335.', 'Mirage', '$6,979.66', '3 Tournaments'],
 ['336.', 'Czech National Team', '$6,888.58', '2 Tournaments'],
 ['337.', 'Big Frames', '$6,700.00', '2 Tournaments'],
 ['338.', 'eSuba', '$6,680.85', '6 Tournaments'],
 ['339.', 'Argentinian National Team', '$6,500.00', '1 Tournament'],
 ['340.', 'Chilean National Team', '$6,500.00', '1 Tournament'],
 ['341.', 'Team Lindner', '$6,498.19', '4 Tournaments'],

In [ ]:
import pandas as pd 
esports_df = pd.DataFrame(data, columns=cols)

In [ ]:
esports_df

     485.            LANGUDAR          $0.00    1 Tournament
0      1.       Natus Vincere  $1,663,809.23  25 Tournaments
1      2.  Susquehanna Soniqs  $1,420,439.00  16 Tournaments
2      3.         Team Liquid  $1,335,660.21  80 Tournaments
3      4.      Gambit Esports  $1,241,085.38  32 Tournaments
4      5.   Ninjas in Pyjamas  $1,211,658.72  25 Tournaments
..    ...                 ...            ...             ...
480  481.     LeStream Esport         $98.89    1 Tournament
481  482.          MTP Esport         $72.72    1 Tournament
482  483.      Empire Arcadia         $45.02    1 Tournament
483  484.           JD Gaming          $0.00    1 Tournament
484  485.            LANGUDAR          $0.00    1 Tournament

[485 rows x 4 columns]

In [ ]:
esports_df.columns

Index(['485.', 'LANGUDAR', '$0.00', '1 Tournament'], dtype='object')

In [ ]:
df= esports_df.rename(columns={"485.":"RankOrder",})

In [ ]:
df= df.rename(columns={"LANGUDAR":"TeamName",
                               "$0.00":"TournamentPrize",
                               "1 Tournament":"TournamentsPlayed"})

In [ ]:
df.head()

  RankOrder            TeamName TournamentPrize TournamentsPlayed
0        1.       Natus Vincere   $1,663,809.23    25 Tournaments
1        2.  Susquehanna Soniqs   $1,420,439.00    16 Tournaments
2        3.         Team Liquid   $1,335,660.21    80 Tournaments
3        4.      Gambit Esports   $1,241,085.38    32 Tournaments
4        5.   Ninjas in Pyjamas   $1,211,658.72    25 Tournaments

In [ ]:
df.to_csv('TopTeamsof2021.csv')
from google.colab import files
files.download("TopTeamsof2021.csv")